        <footer>
            <p>Work of Devign Websites est. 2019</p>
            <ul>
                <li><a href="#">Email</a></li>
                <li><a href="#">Linked In</a></li>
            </ul>
        </footer>

        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
        </script>
        <script src="js/work.js"></script>
    </body>
</html>