<div class="workcontent" id="showreelcontent">
    <h2 class="workheading">Showreel</h2>
    <div class="workphotocontainer justifycenter">
        <div class="workphoto showreelphoto"></div>
    </div>
    <div class="workcontenttext">
        <div class="subdescription description">
            <div class="txtgrp">
                <h3>Year</h3>
                <p>2018</p>
            </div>
            <div class="txtgrp">
                <h3>Company</h3>
                <p>AmBank</p>
            </div>
            <div class="txtgrp">
                <h3>Type of work</h3>
                <p>UX + A little bit of UI</p>
            </div>
        </div>
        <div class="description workdescription">
            <div class="txtgrp">
                <h3>What it is</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Earum cumque a, corrupti harum aut beatae perferendis! 
                    Sit eius cumque esse ex accusantium. Eveniet distinctio.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Earum cumque a, corrupti harum aut beatae perferendis! 
                    Sit eius cumque esse ex accusantium. Eveniet distinctio.
                </p>
            </div>
            <div class="txtgrp">
                <h3>How I Contributed</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Earum cumque a, corrupti harum aut beatae perferendis! 
                    Sit eius cumque esse ex accusantium. Eveniet distinctio.</p>
            </div>
        </div>
    </div>
</div>