<div class="workcontent hidden" id="cardactivationcontent">
    <h2 class="workheading">Card Activation</h2>
    <div class="workphotocontainer justifycenter">
        <div class="workphoto cardactivationphoto"></div>
    </div>
    <div class="workcontenttext">
        <div class="subdescription description">
            <div class="txtgrp">
                <h3>Year</h3>
                <p>2018</p>
            </div>
            <div class="txtgrp">
                <h3>Company</h3>
                <p>AmBank</p>
            </div>
            <div class="txtgrp">
                <h3>Type of work</h3>
                <p>UX + UI</p>
            </div>
        </div>
        <div class="description workdescription">
            <div class="txtgrp">
                <h3>What it is</h3>
                <p>Before: Customer applies for a card. Customer receives the card. Customer would 
                have to activate their new card by either sending an SMS or calling the contact centre. 
                After: Customer (existing user or completely new user) launches the AmOnline app to 
                activate their credit card. This feature also incresed sign ups for the app as those 
                who are not yet on AmOnline can easily create their profile immediately after activating 
                their card.
                </p>
            </div>
            <div class="txtgrp">
                <h3>How I Contributed</h3>
                <p>Two main objectives of this project: 1. Enable online card activation and 2. 
                Increase the number of sign ups on the online banking web and app. Working closely
                with the BA and CX lead, we landed on the decision to immediately get the user to 
                create their username and password one screen after keying in their card details. </p>
            </div>
            <div class="txtgrp">
                <p>
                    <a 
                    href="https://drive.google.com/open?id=1iyLh_ehuV1BA08Yuc6SQHXMcqeHVwK4Y"
                    target="_blank">
                    UX Flow</a> | 
                    <a 
                    href="https://invis.io/JCPMH80P27B#/336978525_Activate_Card_Mobile_V1-6_1"
                    target="_blank">
                    Invision Prototype
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="seperator"></div>