<div class="workcontent hidden" id="duitnowcontent">
    <h2 class="workheading">DuitNow</h2>
    <div class="workphotocontainer justifycenter">
        <div class="workphoto duitnowphoto"></div>
    </div>
    <div class="workcontenttext">
        <div class="subdescription description">
            <div class="txtgrp">
                <h3>Year</h3>
                <p>2018</p>
            </div>
            <div class="txtgrp">
                <h3>Company</h3>
                <p>AmBank</p>
            </div>
            <div class="txtgrp">
                <h3>Type of work</h3>
                <p>UX + UI</p>
            </div>
        </div>
        <div class="description workdescription">
            <div class="txtgrp">
                <h3>What it is</h3>
                <p>DuitNow is a PayNet (Payment Network Malaysia) initiative to enable 
                payments via mobile numbers and ID numbers on online banking platforms. 
                There are two parts to the UX; 1. The registration i.e. how do users link 
                their mobile /ID numbers to their chosen receiving account and 2. 
                The payment i.e. how to include this new payment method into the existing app.
                </p>
            </div>
            <div class="txtgrp">
                <h3>How I Contributed</h3>
                <p>One of the first projects before I officially became “Miss UI/UX”. I was handed 
                a User Requirement Specification document prepared by the BA and was asked to 
                understand it and design the screens. I noticed the structure of the whole UX wasn’t 
                quite right and voiced out suggestions to my supervisor. He agreed and we further 
                worked towards improving the experience.</p>
            </div>
            <div class="txtgrp">
                <p>
                    <a 
                    href="https://drive.google.com/open?id=1vGxQ9Gyox2_UUcAyTP7EsfyTRr7J3xZS">
                    UX Flow</a> | 
                    <a 
                    href="https://invis.io/3DT5QZ7GRP7#/374969431_Mobile_DuitNow_ID_Settings_2-0_1">
                    Invision Prototype
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="seperator"></div>