<div class="workcontent hidden" id="letitburncontent">
    <h2 class="workheading">Let It Burn</h2>
    <div class="workphotocontainer justifycenter">
        <div class="workphoto letitburnphoto"></div>
    </div>
    <div class="workcontenttext">
        <div class="subdescription description">
            <div class="txtgrp">
                <h3>Year</h3>
                <p>2015</p>
            </div>
            <div class="txtgrp">
                <h3>Company</h3>
                <p>University Of Hertfordshire</p>
            </div>
            <div class="txtgrp">
                <h3>Type of work</h3>
                <p>Mobile Game App UI/UX & development</p>
            </div>
        </div>
        <div class="description workdescription">
            <div class="txtgrp">
                <h3>What it is</h3>
                <p>This is a 2nd year university project. The brief was to create a game or 
                interactive story. I thought of “Let It Burn” as a way for the user to let 
                out some steam by virtually throwing objects into a fire, if that’s your 
                idea of “letting out some steam”. Watching things burn in a fire is frankly 
                quite satisfying if you ask me. 
                </p>
            </div>
            <div class="txtgrp">
                <h3>How I created it</h3>
                <p>This is a 2nd year university project. The brief was to create a game 
                or interactive story. I thought of “Let It Burn” as a way for the user to 
                let out some steam by virtually throwing objects into a fire, if that’s 
                your idea of “letting out some steam”. Watching things burn in a fire is 
                frankly quite satisfying if you ask me.</p>
            </div>
            <div class="txtgrp">
                <p>
                    <a 
                    href="www.let-it-burn.tumblr.com"
                    target="_blank">
                    Progress Blog</a> | 
                    <a 
                    href="https://drive.google.com/open?id=175k_noBK1ZBZEYwfLTsBBWTu0auqBN6s)"
                    target="_blank">
                    SWF File
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="seperator"></div>