<div class="workcontent hidden" id="quickaccesscontent">
    <h2 class="workheading">Quick Access</h2>
    <div class="workphotocontainer justifycenter">
        <div class="workphoto quickaccessphoto"></div>
    </div>
    <div class="workcontenttext">
        <div class="subdescription description">
            <div class="txtgrp">
                <h3>Year</h3>
                <p>2018</p>
            </div>
            <div class="txtgrp">
                <h3>Company</h3>
                <p>AmBank</p>
            </div>
            <div class="txtgrp">
                <h3>Type of work</h3>
                <p>UX + UI</p>
            </div>
        </div>
        <div class="description workdescription">
            <div class="txtgrp">
                <h3>What it is</h3>
                <p>Quick Access, as the name suggests is a feature on AmOnline (Banking app) 
                which enables quick biometric login for users to check their account balances 
                without keying in their username or password. Phones without biometric capabilities 
                are also catered to as users are allowed to set a 6-digit AmOnline PIN 
                (much like the smartphone’s unlock code) to view their balances.
                </p>
            </div>
            <div class="txtgrp">
                <h3>How I Contributed</h3>
                <p>Working closely with the project BA and our CX lead we researched how other 
                banks allow users to enable this feature on their app. Understanding and working 
                around some technical limitations and requirements I mapped out the final user 
                journey and then designed the UI.</p>
            </div>
            <div class="txtgrp">
                <p>
                    <a 
                    href="https://drive.google.com/open?id=1U7tk8Ho9Z6iomxt4VtmsDaSuABKVQ29R"
                    target="_blank">
                    UX Flow</a> | 
                    <a 
                    href="https://www.figma.com/proto/PGi17FhRcQE49zXVVt595w/Quick-Access?node-id=1%3A2&scaling=min-zoom"
                    target="_blank">
                    Figma Prototype
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="seperator"></div>