<div class="workcontent hidden" id="showreelcontent">
    <h2 class="workheading">Showreel</h2>
    <div class="workphotocontainer justifycenter">
        <a href="https://vimeo.com/163351665" target="_blank" class="workphoto showreelphoto" id="showreellink">
            <!--<iframe id="showreelvideo" src="https://player.vimeo.com/video/163351665" -->
            <!--frameborder="0" -->
            <!--allow="autoplay; fullscreen" allowfullscreen></iframe>-->
        </a>
    </div>
    <div class="workcontenttext">
        <div class="subdescription description">
            <div class="txtgrp">
                <h3>Year</h3>
                <p>2016</p>
            </div>
            <div class="txtgrp">
                <h3>Company</h3>
                <p>University of Hertfordshire</p>
            </div>
            <div class="txtgrp">
                <h3>Type of work</h3>
                <p>Video</p>
            </div>
        </div>
        <div class="description workdescription">
            <div class="txtgrp">
                <h3>What it is</h3>
                <p>A compilation of digital works I had created up to mid 2016:</p>
                <ul>
                    <li>Fiona The Fangirl (interactive comic)</li>
                    <li><a href="#letitburn">Let It Burn</a> (mobile game app)</li>
                    <li>Solemnisation of Fiza & Adri (video montage)</li>
                    <li><a href="https://vimeo.com/163100387" target="_blank">Where's My Rice?</a> (short film)</li>
                    <li>Rooney The Cat (mobile app demo)</li>
                    <li>The Ghost Of You - My Chemical Romance (guitar cover - video editing)</li>
                    <li><a href="https://vimeo.com/163100105" target="_blank">Kingdom of Juno Title Sequence</a> (Animation)</li>
                    <li>If I Ruled The World (lyric video)</li>
                </ul>
            </div>
            <div class="txtgrp">
                <h3>How I created it</h3>
                <p>Compiled my top previous works using Adobe Premiere Pro. YasminYasminYasminYasminYasminYasminYasminYasmin</p>
            </div>
        </div>
    </div>
</div>