<div class="workcontent hidden" id="tydeecontent">
    <h2 class="workheading">Tydee</h2>
    <div class="workphotocontainer justifycenter">
        <div class="workphoto tydeephoto"></div>
    </div>
    <div class="workcontenttext">
        <div class="subdescription description">
            <div class="txtgrp">
                <h3>Year</h3>
                <p>2016</p>
            </div>
            <div class="txtgrp">
                <h3>Company</h3>
                <p>University of Hertfordshire</p>
            </div>
            <div class="txtgrp">
                <h3>Type of work</h3>
                <p>Mobile Game App UI/UX & development</p>
            </div>
        </div>
        <div class="description workdescription">
            <div class="txtgrp">
                <h3>What it is</h3>
                <p>My final year project at university - the project brief was a vague 
                “create your own digital artefact”. After lots and lots of brainstorming 
                and different ideas I created Tydee, a mobile game application for android, 
                inspired by a true story of when I was in my teenage years and I’d have to 
                complete some house chores before my mum got home. 
                </p>
            </div>
            <div class="txtgrp">
                <h3>How I created it</h3>
                <p>For the ideation part I started with user journeys, deciding on the 
                difficulty/type of tasks for each level, then proceeded with some sketching. 
                Once I had the idea and concept locked down I drew each and every element on 
                Photoshop. Then using Adobe Flash Professional (good times) I animated the 
                scenes and used Actionscript 3.0 to code the interactions and sound.</p>
            </div>
            <div class="txtgrp">
                <p>
                    <a 
                    href="https://vimeo.com/187123725"
                    target="_blank">
                    Watch the Trailer</a> | 
                    <a 
                    href="https://drive.google.com/open?id=1OQKS2mdwDD0E8O0CDeqdzr_kBJZ05C_N"
                    target="_blank">
                    Download SWF File
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="seperator"></div>