<% include ../partials/header %>
    <div class="background" id="homebackground"></div>
    <section class="landing">
        <div class="landingcontent">
            <h2>Hey there,</h2>
            <p>I’m Yasmin, UI/UX Designer looking for every opportunity to make 
            people’s lives better and their hearts happier.</p>
            <a class="btn" href="#workpreview">View My Work</a>
        </div>    
    </section>

    <section class="workpreview" id="workpreview">
        <div class="workcontainer hidden">
            <a class="workitem work1" href="/work#duitnow">
                <div class="worktext">
                    <h3>DuitNow</h3>
                    <p>SuperAwesome</p>
                </div>
            </a>
            <a class="workitem work2" href="/work#quickaccess">
                <div class="worktext">
                    <h3>Quick Access</h3>
                    <p>SuperAwesome</p>
                </div>
            </a>
            <a class="workitem work3" href="/work#cardactivation">
                <div class="worktext">
                    <h3>Card Activation</h3>
                    <p>SuperAwesome</p>
                </div>
            </a>
            <a class="workitem work4" href="/work#tydee">
                <div class="worktext">
                    <h3>Tydee</h3>
                    <p>Android Game App</p>
                </div>
            </a>
            <a class="workitem work5" href="/work#letitburn">
                <div class="worktext">
                    <h3>Let It Burn</h3>
                    <p>Android Game App</p>
                </div>
            </a>
            <a class="workitem work6" href="/work#showreel">
                <div class="worktext">
                    <h3>Showreel</h3>
                    <p>Previous Works</p>
                </div>
            </a>
        </div>
    </section>

<% include ../partials/indexfooter %>
