<% include ../partials/header %>
    <div class="background" id="homebackground"></div>
    <section class="landing">
        <div class="landingcontent">
            <h2>Hello</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatibus architecto ipsam 
                ratione dolor amet at, nemo eos accusantium provident nam eveniet voluptas quas eaque eum 
                officiis maiores, quibusdam blanditiis nesciunt, quaerat iste pariatur reprehenderit facilis? 
                Illum neque nulla quas eos voluptate est modi labore inventore ut, aut, sit dignissimos.</p>
            <a class="btn" href="#workpreview">View My Work</a>
        </div>    
    </section>

    <section class="workpreview" id="workpreview">
        <div class="workcontainer hidden">
            <a class="workitem work1" href="/work#duitnow">
                <div class="worktext">
                    <h3>DuitNow</h3>
                    <p>SuperAwesome</p>
                </div>
            </a>
            <a class="workitem work2" href="/work#quickaccess">
                <div class="worktext">
                    <h3>Quick Access</h3>
                    <p>SuperAwesome</p>
                </div>
            </a>
            <a class="workitem work3" href="/work#cardactivation">
                <div class="worktext">
                    <h3>Card Activation</h3>
                    <p>SuperAwesome</p>
                </div>
            </a>
            <a class="workitem work4" href="/work#tydee">
                <div class="worktext">
                    <h3>Tydee</h3>
                    <p>Android Game App</p>
                </div>
            </a>
            <a class="workitem work5" href="/work#letitburn">
                <div class="worktext">
                    <h3>Let It Burn</h3>
                    <p>Android Game App</p>
                </div>
            </a>
            <a class="workitem work6" href="/work#showreel">
                <div class="worktext">
                    <h3>Showreel</h3>
                    <p>Previous Works</p>
                </div>
            </a>
        </div>
    </section>

<% include ../partials/indexfooter %>
