<% include ../partials/header %>
    <div class="background" id="workbackground"></div>
    <a class="totop" href="#landing" id="totop"><i class="fas fa-chevron-up fa-3x"></i></a>
    <section class="landing" id="landing">
        <div class="landingcontent">
            <h2>Work!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatibus architecto ipsam 
                ratione dolor amet at, nemo eos accusantium provident nam eveniet voluptas quas eaque eum 
                officiis maiores, quibusdam blanditiis nesciunt, quaerat iste pariatur reprehenderit facilis? 
                Illum neque nulla quas eos voluptate est modi labore inventore ut, aut, sit dignissimos.</p>
        </div>    
    </section>

    <section class="worksection duitnow brighttheme" id="duitnow">
        <% include ../worksections/duitnow %>       
    </section>

    <section class="worksection quickaccess brighttheme" id="quickaccess">
         <% include ../worksections/quickaccess %>
    </section>

    <section class="worksection cardactivation darktheme" id="cardactivation">
         <% include ../worksections/cardactivation %>
    </section>
    
    <section class="worksection tydee brighttheme" id="tydee">
         <% include ../worksections/tydee %>
    </section>

    <section class="worksection letitburn brighttheme" id="letitburn">
         <% include ../worksections/letitburn %>
    </section>

    <section class="worksection showreel brighttheme" id="showreel">
         <% include ../worksections/showreel %>     
    </section>          

    <% include ../partials/workfooter %>
    