<% include ../partials/header %>
    <div class="background" id="workbackground"></div>
    <a class="totop" href="#landing" id="totop"><i class="fas fa-chevron-up fa-3x"></i></a>
    <section class="landing" id="landing">
        <div class="landingcontent">
            <h2>My projects</h2>
            <p>Here are some projects I’ve worked on so far. They consist of my 
            major projects during my employment at a Malaysian Bank and also some 
            university projects.</p>
        </div>    
    </section>

    <section class="worksection brighttheme" id="duitnow">
        <% include ../worksections/duitnow %>       
    </section>

    <section class="worksection brighttheme" id="quickaccess">
         <% include ../worksections/quickaccess %>
    </section>

    <section class="worksection brighttheme" id="cardactivation">
         <% include ../worksections/cardactivation %>
    </section>
    
    <section class="worksection brighttheme" id="tydee">
         <% include ../worksections/tydee %>
    </section>

    <section class="worksection brighttheme" id="letitburn">
         <% include ../worksections/letitburn %>
    </section>

    <section class="worksection brighttheme" id="showreel">
         <% include ../worksections/showreel %>     
    </section>          

    <% include ../partials/workfooter %>
    